/.vscode/**
/backend/.venv/**
*.pyc
*.pyo
**/__pycache__
/frontend/static/img/book_thumbnails/[0-9]*
/frontend/media/profile_pics/[0-9]*
/backend/app/migrations/**
frontend/media/listing_photos/[0-9]*
/.venv/**
/frontend/static/img/anmol_files/**
/test-automation/node_modules/**
