{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="display">Welcome to Spartan Bookshare!</h1>
<h6 class="text-muted">The most trusted bookshare service for SJSU students<a href="/about"> Learn More</a></h6>
{% if posting_list %}
    <table id='postings' class='display hover order-column striped bg-white border rounded'>
        <thead>
            <tr>
                <th> Posting Title </th>
                <th> Price </th>
                <th> Seller </th>
            </tr>
        </thead>
        {% for posting in posting_list %}
        <tr>
            <td> {{ posting.title }} </td>
            <td> {{ posting.price }} </td>
            <td> {{ posting.seller }} </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p> No postings available. </p>
{% endif %}

<script>
    $(document).ready( function(){
        $('#postings').DataTable({
            "lengthChange": false,
        });
    });
</script>

{% endblock %}
