{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main"> 
    <!-- Create a Form -->
    <h2>Login</h2>
    <form method="POST"> 
        <!-- Security token by Django -->
        {% csrf_token %} 
  
        <!-- form as paragraph -->
        <table class='table'>
        	<tr>
	        	<th>
	        		<label for="id_sjsu_id">SJSU ID:</label>
	        	</th>
	        	<td>
	        		<!-- <ul class="errorlist">
	        			<li>This field is required.</li>
	        		</ul> -->
	        		<input type="text" name="sjsu_id" maxlength="9" required id="id_sjsu_id" class="form-control">
	        	</td>
	        </tr>
			<tr>
				<th>
					<label for="id_sjsu_pw">Password:</label>
				</th>
				<td>
		<!-- 			<ul class="errorlist"><li>This field is required.</li>
					</ul> -->
					<input type="text" name="sjsu_pw" maxlength="50" required id="id_sjsu_pw" class="form-control">
				</td>
			</tr>
        </table>
  
        <input type="submit" value="Login" class="btn btn-primary"> 
    </form> 
  	 <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
</div> 
{% endblock%}