<div class="btn-group" role="group">
    <!--Favorites-->
    {%if posting.id in user_favorites_list %}
    <a type="button" id='unfavortie{{posting.id}}' href='/favorite/{{posting.id}}' class="btn btn-light border border-dark">
        <span class="text-dark fas fa-ban" height=75 width=75>
    </a>
    {%else %}
    <a type="button" id='favortie{{posting.id}}' href='/favorite/{{posting.id}}' class="btn btn-light border border-dark">
        <span class="text-danger fas fa-heart" height=75 width=75>
    </a>
    {%endif%}

    {% if posting.seller.id is not None %}
    <a type="button" href='/chat/{{posting.seller.id}}/{{posting.id}}' class="btn btn-light border border-dark">
        {% else %}
        <a type="button" href='/chat/{{posting.seller}}/{{posting.id}}' class="btn btn-light border border-dark">
            {% endif %}
            <span class="text-primary fas fa-envelope" height=75 width=75>
        </a>

    <a href="/report/{{posting.id}}" type="button" class="btn btn-light border border-dark">
        <span class="text-danger fas fa-flag" height=50 width=50>
    </a>
</div>
