{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html><!DOCTYPE html>
<html>
<head>
	<title>List a Book</title>
</head>
<body>
	<h2>List a Book</h2>	
	<form method='POST' class='form' enctype="multipart/form-data">
		{% csrf_token %}
		<table class='table'>
			<tr>
				<th>
					<label for="title">Title:</label>
				</th>
				<td>
					<input id='title' name='title' type='text' class='form-control' required>
				</td>
			</tr>
			<tr>
				<th>
					<label for="title">Photo:</label>
				</th>
				<td>
					<input id='picture' name='picture' type='file' accept=".jpg" class='form-control' required>
				</td>
			</tr>
			<tr>
				<th>
					<label for="author">Author:</label>
				</th>
				<td>
					<input id='author' name='author' type='text' class='form-control' required>
				</td>
			</tr>
			<tr>
				<th>
					<label for="isbn">ISBN:</label>
				</th>
				<td>
					<input id='isbn' name='isbn' type='text' class='form-control' required>
				</td>
			</tr>
			<tr>
				<th>
					<label for="subject">Subject:</label>
				</th>
				<td>
					<input id='subject'  name='subject' type='text' class='form-control' required>
				</td>
			</tr>
			<tr>
				<th>
					<label for="class_used">Class Used In:</label>
				</th>
				<td>
					<input id='class_used' name='class_used' type='text' class='form-control' required>
				</td>
			</tr>
			<tr>
				<th>
					<label for="description">Description:</label>
				</th>
				<td>
					<input id='description' name='description' type='text' class='form-control' required>
				</td>
			</tr>
			<tr>
				<th>
					<label for="price">Price:</label>
				</th>
				<td>
					<input id='price' name='price' type='number' class='form-control' required>
				</td>
			</tr>
		</table>
		<input type="submit" value="List Book" class="btn btn-primary"> 
	</form>
	{{error}}
</body>
</html>

{% endblock %}
