{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if postings %}
        <h1>My Book Postings</h1>
        <table class="table table-bordered table-striped table-hover">
            <caption>List of books for sale</caption>
            <th>Title</th>
            <th>Price</th>
            <th>Actions</th>
            {% for posting in postings %}
                <tr>
                    <td>{{ posting.title }}</td>
                    <td>${{ posting.price }}</td>
                    <td><a href="{% url 'posting' posting.id %}">View</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>No postings found!</h1>
        <h5 class="text-muted">Go create some <a href="{% url 'list_book' %}">here</a></h2>
    {% endif %}
{% endblock %}