{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="alert bg-light row">
    <div class="col-3">
        <img width=300 height=300 src="{{book_thumbnail}}" alt="{{book_thumbnail}}">
    </div>
    <div class="col-9">
        <ul class="list-group">
            <li class="list-group-item active display-4">
                <div class="row">
                    <div class="col-9">
                        {{ posting.title }}
                    </div>
                    <div class="col-3">
                        {% include "book_actions.html" %}
                    </div>
                </div>
            </li>
            <li class="list-group-item">Title: {{ posting.title }}</li>
            <li class="list-group-item">Author: {{ book.author }}</li>
            <li class="list-group-item">ISBN: {{ book.isbn }}</li>
            <li class="list-group-item">Subject: {{ book.subject }}</li>
            <li class="list-group-item">Class Used In: {{ book.class_used }}</li>
            <li class="list-group-item">Price: ${{ posting.price }}</li>
            <li class="list-group-item">Description: {{ posting.description }}</li>
            <li class="list-group-item">Seller: {{ seller }}</li>
            <button class='btn btn-primary' type='submit' id='buy'>Purchase Book</button>
    </div>
</div>


{% endblock %}