{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main"> 
    <!-- Create a Form -->
    <h2>Register</h2>
    <form method="POST" action=''> 
        <!-- Security token by Django -->
        {% csrf_token %} 
  
        <!-- form as paragraph -->
        <table class='table'>
        	<tr>
	        	<th>
	        		<label for="id_sjsu_id">Name:</label>
	        	</th>
	        	<td>
	        		<!-- <ul class="errorlist">
	        			<li>This field is required.</li>
	        		</ul> -->
	        		<input type="text" name="name" maxlength="9" required id="name" class="form-control">
	        	</td>
	        </tr>
        	<tr>
	        	<th>
	        		<label for="id_sjsu_id">SJSU ID:</label>
	        	</th>
	        	<td>
	        		<!-- <ul class="errorlist">
	        			<li>This field is required.</li>
	        		</ul> -->
	        		<input type="text" name="sjsu_id" maxlength="9" required id="id_sjsu_id" class="form-control">
	        	</td>
	        </tr>
			<tr>
				<th>
					<label for="id_sjsu_pw">Password:</label>
				</th>
				<td>
		<!-- 			<ul class="errorlist"><li>This field is required.</li>
					</ul> -->
					<input type="password" name="sjsu_pw" maxlength="50" required id="id_sjsu_pw" class="form-control">
				</td>
			</tr>
        </table>
  
        <input type="submit" value="Register" class="btn btn-primary"> 
    </form> 
</div> 
{% endblock%}