{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron bg-light mt-5"> 
    <h2>Register</h2>
    <form method="POST" onsubmit="return validate()" enctype="multipart/form-data"> 
		{% csrf_token %} 
		<div class='alert alert-danger' id='passwordError' style='display:none'>
			Passwords do not match.
		</div>
		<div class='alert alert-danger' id='emailError' style='display:none'>
			Please enter a valid email address.
		</div>
		{% if error is not None %}
		<div id='serverError' class='alert alert-danger'>
			<p>{{error}}</p>
		</div>
		{% endif %}
        <table class='table'>
        	<tr>
	        	<th>
	        		<label for="username">Username:</label>
	        	</th>
	        	<td>
	        		<input type="text" name="username" maxlength="9" required id="name" class="form-control">
	        	</td>
			</tr>
        	<tr>
	        	<th>
	        		<label for="username">Profile picture:</label>
	        	</th>
	        	<td>
	        		<input type="file" id='picture' name="picture" class="form-control" accept=".jpg" required>
	        	</td>
			</tr>
        	<tr>
	        	<th>
	        		<label for="email">Email:</label>
	        	</th>
	        	<td>
	        		<input type="text" name="email" maxlength="29" required id="email" class="form-control">
	        	</td>
	        </tr>
	
			<tr>
				<th>
					<label for="password">Password:</label>
				</th>
				<td>
					<input type="password" name="password" maxlength="50" class="form-control" id='password' required>
				</td>
			</tr>
			<tr>
				<th>
					<label for="confirm-password">Confirm password:</label>
				</th>
				<td>
					<input type="password" id="confirm-password" name="confirm-password" maxlength="50" required id="id_sjsu_pw" class="form-control">
				</td>
			</tr>
        </table>
  
        <input type="submit" value="Register" class="btn btn-primary"> 
    </form> 
</div> 

<script>
	window.validate = function(){
		$('#serverError').hide()
		submit = true
		
		password = $('#password').val()
		confirm_password = $('#confirm-password').val()
		if(password !== confirm_password){
			p = $('#passwordError').show()
			submit = false
		}
		else{
			p = $('#passwordError').hide()
		}

		//Regex from stackoverflow user sectrean + 20 other edits
		//https://stackoverflow.com/users/3880/sectrean
		const regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		email = $('#email').val()
		if(!regex.test(email)){
			p = $('#emailError').show()
			submit = false;
		}
		else{
			p = $('#emailError').hide()
		}

		return submit
	}
</script>
{% endblock%}